.uni-forms-item .uni-data-checklist {
	margin-top: 6px !important;
}
.uni-forms-item .uni-file-picker {
	margin-top: 4px !important;
}

/* .login-box .uni-forms-item__label {
	width: 65px !important;
} */
/* uni组件生成的class要加::v-deep？？以下目前都生效 */
/* .uni-forms-item__label {
	width: 90px !important;
} */
::v-deep .uni-forms-item__label {
	width: 90px !important;
}

uni-button[type="warm"] {
	color: #fff;
    background-color: #E6A23C;
    border-color: #E6A23C;
    border-width: 0;
}